$bg-color: #0b0d1c;
$container-bg: #1c1e2b;
$text-color: #ffffff;
$accent-color: #ff2c78;
$border-color: rgba(255, 255, 255, 0.2);

body {
  font-family: "Poppins", sans-serif;
  background-color: $bg-color;
  color: $text-color;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.purchase-summary {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  width: 100%;
  background-color: $container-bg;
  border-radius: 8px;
  overflow: hidden;
  padding: 20px;
  gap: 20px;
  align-items: center;

  &__movie-image {
    max-width: 300px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    flex-shrink: 0;
  }

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  &__header {
    text-align: center;
    margin-bottom: 10px;
  }

  &__title {
    font-size: 1.8rem;
    margin: 10px 0;
    color: $accent-color; 
  }

  &__subtitle {
    margin: 0;
    font-size: 1rem;
    color: $text-color;
  }

  &__info {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px 20px;
    text-align: left;


    &-item {
      font-size: 1rem;
      margin: 0;


      strong {
        color: $accent-color;
      }
    }
  }

  &__thanks {
    text-align: center;
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    color: $accent-color;
    background-color: rgba(255, 44, 120, 0.1);
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  &__footer {
    text-align: center;
    margin-top: 10px;

    &-link {
      color: $accent-color;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  @media (max-width: 768px) {
    align-items: center;

    &__movie-image {
      max-width: 100%;
    }

    &__info {
      grid-template-columns: auto;
      gap: 10px;
    }
  }
}
