<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elixium - Admin</title>
    <link rel="icon" href="../images/Logoweb.png"type="image/x-icon" />
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/Scrollbar.css">
    <script src="../js/home/navbarresponsive.js"></script>
</head>

<body>

        <section class="customer-info">
            <h2 class="section-title">Datos pedido a borrar</h2>
            <div class="form-row">
                <div class="form-group">
                    <label for="name">Id</label>
                    <input type="text" id="Id" name="Id" placeholder="ID Pedido">
                </div>
            </div>
        </section>
        <button id="finalize-purchase" class="continue-btn">Confirmar Pedido</button>

    <script src="../js/Cine/SeatSelection.js"></script>
    <script src="../js/Compra/Admin.js"></script>
</body>

</html>