<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elixium - Registrar</title>
    <link rel="icon" href="/cine_web_app/front-end/images/Logoweb.png"type="image/x-icon" />
    <link rel="stylesheet" href="/cine_web_app/front-end/css/login.css">
    <link rel="stylesheet" href="../css/Scrollbar.css">
</head>

<body class="register-page">
    <!-- Header -->
    <header class="header">
        <a href="../home.html" class="header__logo">Elixium</a>
        <div class="header__language">
            <button class="header__language-btn" id="language-toggle">
                <span id="current-language">English</span>
                <img src="/cine_web_app/front-end/images/globo.png" alt="Language Icon" class="header__language-icon">
            </button>
            <div class="header__language-dropdown">
                <div class="header__language-option" data-language="es">English</div>
            </div>
        </div>
    </header>
        

    <!-- Background Grid with Posters -->
    <div class="background-grid">
        <div class="poster poster--1 poster--small" style="background-image: url('/cine_web_app/front-end/images/dune_parte_dos.jpg');"></div>
        <div class="poster poster--2 poster--large" style="background-image: url('/cine_web_app/front-end/images/Vengadores_Infinity_War.jpg');"></div>
        <div class="poster poster--3 poster--small" style="background-image: url('/cine_web_app/front-end/images/escuadron_suicida-cartel.jpg');"></div>
        <div class="poster poster--4 poster--large" style="background-image: url('/cine_web_app/front-end/images/doctor-strange.jpg');"></div>
        <div class="poster poster--5 poster--large" style="background-image: url('/cine_web_app/front-end/images/Venom_Habraa_matanza.jpg');"></div>
        <div class="poster poster--6 poster--small" style="background-image: url('/cine_web_app/front-end/images/transformer-5.jpeg');"></div>
        <div class="poster poster--7 poster--large" style="background-image: url('/cine_web_app/front-end/images/harry-potter.jpeg');"></div>
        <div class="poster poster--8 poster--small" style="background-image: url('/cine_web_app/front-end/images/up.jpg');"></div>
    </div>
    
    
    <!-- Overlay -->
    <div class="overlay"></div>

    <!-- Main Registration Form -->
    <main class="auth">
        <div class="auth__form-container">
            <h2 class="auth__title" data-en="Sign up" data-es="Registrarse"></h2>
            <form class="auth__form">
                <div class="auth__field">
                    <label for="name" class="auth__label" data-en="Name" data-es="Nombre"></label>
                    <input type="text" id="name" class="auth__input">
                </div>
                <div class="auth__field">
                    <label for="email" class="auth__label" data-en="Email" data-es="Correo"></label>
                    <input type="email" id="email" class="auth__input">
                </div>
                <div class="auth__field">
                    <label for="password" class="auth__label" data-en="Password" data-es="Contraseña"></label>
                    <input type="password" id="password" class="auth__input">
                </div>
                <button type="submit" class="auth__button" data-en="Sign up" data-es="Registrarse"></button>
                <div class="auth__options">
                    <label class="auth__checkbox-label" data-en="Remember me" data-es="Recuérdame">
                        <input type="checkbox" class="auth__checkbox">
                    </label>
                    <a href="/cine_web_app/front-end/views/security/login.html" class="auth__link" data-en="Already have an account? Log in" data-es="¿Ya tienes una cuenta? Inicia sesión">Already have an account? Log in</a>
                </div>
            </form>
        </div>
    </main>

    <!-- JavaScript for Registration -->
    <script src="/cine_web_app/front-end/js/security/login.js"></script>
    <script src="/cine_web_app/front-end/js/security/LenguageSelector.js"></script>
</body>
</html>