<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elixium - Resumen</title>
    <link rel="icon" href="/cine_web_app/front-end/images/Logoweb.png"type="image/x-icon" />
    <link rel="stylesheet" href="/cine_web_app/front-end/css/summary.css">


</head>

<body>

    <div class="purchase-summary">
        <!-- Imagen -->
        <img src="" alt="Cartel de la película" class="purchase-summary__movie-image">

        <!-- Contenido -->
        <div class="purchase-summary__content">
            <div class="purchase-summary__header">
                <h1 class="purchase-summary__title">Gladiator II</h1>
                <p class="purchase-summary__subtitle">Presente este resumen en el punto de acceso a la sala.</p>
            </div>

            <div class="purchase-summary__info">
                <p class="purchase-summary__info-item"><strong>Cine:</strong> Puerto Venecia</p>
                <p class="purchase-summary__info-item"><strong>Fecha:</strong> 2024-11-11</p>
                <p class="purchase-summary__info-item"><strong>Hora:</strong> 16:30</p>
                <p class="purchase-summary__info-item"><strong>Sala:</strong> 7</p>
                <p class="purchase-summary__info-item"><strong>Entradas:</strong> 9-12, 6-11</p>
                <p class="purchase-summary__info-item"><strong>Precio Total:</strong> 15.00 €</p>
            </div>
            <p>Productos:</p>
            <div class="purchase-summary__product-list">
                <!-- Los productos se agregarán aquí dinámicamente -->
            </div>
            
        </div>

        <!-- Mensaje de agradecimiento -->
        <div class="purchase-summary__thanks">
            ¡Gracias por confiar en <span style="color: var(--text-color);">ELIXIUM</span>! 🎥
        </div>

        <div class="purchase-summary__footer">
            <a href="/cine_web_app/front-end/views/home.html" class="purchase-summary__footer-link">Volver a la Home </a>
        </div>
    </div>
</body>
<script src="/cine_web_app/front-end/js/Compra/resumen-compra.js"></script>
</html>