// Variables de colores
$background-color: #10141e;
$text-color: #ffffff;
$button-color: #ff2c78;
$link-color: #ff2c78;
$seat-available-color: #bfbfbf;
$seat-selected-color: #ff2c78;

// Estilos globales
body {
    font-family: "Poppins", sans-serif;
    background-color: #020510;
    color: $text-color;
}

h3 {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    color: $text-color;
}

// Estilos específicos para la sección de detalles de la película
.movie-details {
    position: relative;
    color: $text-color;
    height: 350px;
    display: flex;
    align-items: center;
    padding: 0 2rem;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.6);

    &__backdrop {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

        .movie-details__background-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 3;
            
        }
    }

    &__content-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        z-index: 1;
        width: 100%;
        padding: 1rem;
    }

    &__info-wrapper {
        &--poster {
            .movie-title {
                .movie-title__text {
                    font-size: 3rem;
                    font-weight: bold;
                    text-transform: uppercase;
                    color: $text-color;
                    margin-bottom: 10px;
                    letter-spacing: 0.1rem;
                    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); // Sombra para destacar
                }
            }
        }
    }

    &__session-info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        padding: 1rem;
        color: $text-color;
        font-size: 1.2rem;

        .session-info-container {
            .session-details {
                font-size: 1.1rem;
                color: $text-color;
                text-align: right;

                p {
                    margin: 0.5rem 0;
                    line-height: 1.4;
                }
            }
        }
    }
}

// Estilos del botón de retroceso
.booking-go-back {
    display: flex;
    align-items: center;
    gap: 8px;
    color: $link-color;
    font-size: 1rem;
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin-left: 2rem;
    margin-top: 10px;

    &:hover {
        text-decoration: underline;
        color: lighten($link-color, 10%);
    }

    &__arrow {
        width: 20px;
        height: 20px;
        fill: $link-color;
    }
}

// Estilos para la selección de asientos
.seat-selection {
    &__details {
        position: relative;
        color: $text-color;
        height: 350px;
        display: flex;
        align-items: center;
        padding: 0 2rem;
        background-color: rgba(0, 0, 0, 0.6);
        overflow: hidden;

        .background-image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1;
            opacity: 0.5;
            filter: blur(4px);
        }

        .info-container {
            position: relative;
            z-index: 1;
            padding: 1rem;
            color: $text-color;
            text-align: left;

            .movie__title {
                font-size: 2.8rem;
                font-weight: bold;
                text-transform: uppercase;
                color: $text-color;
                margin-bottom: 10px;
                letter-spacing: 0.1rem;
            }

            .movie__session-info {
                font-size: 1.2rem;
                color: $text-color;
                text-align: left;
                margin-top: 5px;

                p {
                    margin: 0.5rem 0;
                    line-height: 1.4;
                }
            }
        }
    }

    &__legend {
        display: flex;
        justify-content: center;
        gap: 15px;
        padding: 10px;
        font-size: 14px;
        border-top: 1px solid #4e5a6c;
        border-bottom: 1px solid #4e5a6c;
        margin-left: 25%;
        margin-right: 25%;

        .seat {
            width: 20px;
            height: 20px;
            display: inline-block;
            margin-right: 5px;
            border-radius: 3px;
        }
    }

    &__footer {
        text-align: center;
        padding: 20px;

        #selected-seats {
            font-weight: bold;
        }
    }
}

// Clases para los asientos
.seat {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 5px;
    border-radius: 3px;
    cursor: pointer;

    &.available {
        background-color: $seat-available-color;
    }

    &.selected {
        background-color: $seat-selected-color;
    }
}

// Estilo del botón de continuar
.continue-btn {
    background-color: $button-color;
    color: $text-color;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    border-radius: 5px;

    &:hover {
        background-color: darken($button-color, 10%);
    }
}

// Estilo del mapa de asientos
.seat-map {
    display: grid;
    grid-template-columns: repeat(30, 20px);
    gap: 5px;
    justify-content: center;
    padding: 20px;
}

.screen {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;

    &__svg {
        width: 100%;
        max-width: 910px;
        height: auto;
    }

    &__background {
        fill: #e0e0e0; // Color de fondo del trapecio
        stroke: #b0b0b0; // Borde del trapecio
        stroke-width: 2;
    }

    &__text {
        font-size: 15px;
        font-weight: bold;
        fill: #333; // Color del texto
        font-family: "Poppins", sans-serif;
        text-transform: uppercase; // Texto en mayúsculas
    }
}

