body {
  font-family: "Poppins", sans-serif;
  color: #fff;
  background-color: #090d23;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.cine-detail {
  display: flex;
  flex-direction: column;
  position: relative;

  &__background {
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-position: center;
    z-index: -1;
    filter: brightness(50%);
  }

  &__logo {
    position: absolute;
    top: 10px;
    right: 20px;
    width: 150px;
    z-index: 10;
  }

  &__info {
    position: relative;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 5;

    &-title {
      font-size: 2rem;
      font-weight: bold;
      text-align: center;
      color: #ffffff;
      margin-bottom: 0.5rem;
    }

    &-metadata {
      font-size: 1rem;
      color: #dcdcdc;
      margin: 0.5rem 0;
      display: flex;
      align-items: center;

      span {
        &:first-child {
          background: #ff2c78;
          padding: 0.2rem 0.5rem;
          border-radius: 0.3rem;
          font-weight: bold;
        }
      }
    }

    &-description {
      font-size: 1.2rem;
      color: #ffffff;
      margin-top: 1rem;
      text-align: center;
      max-width: 80%;
    }

    &-showtimes {
      display: grid;
      gap: 1rem;
      justify-content: center;
      margin-top: 1.5rem;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); // Distribución adaptable

      .session {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 1px solid #ff2c78;
        border-radius: 8px;
        width: 100%;
        background: rgba(0, 0, 0, 0.6);
        cursor: pointer;
        transition: all 0.3s ease;
        min-height: 85px;
        min-width: 150px;

        &:hover {
          background: rgba(255, 44, 120, 0.2);
        }

        .session__time {
          font-size: 1.4rem;
          font-weight: bold;
          margin-bottom: 0.2rem;
          padding-left: 10px;
        }

        .session__room {
          font-size: 0.9rem;
          color: #dcdcdc;
          padding-left: 10px;
        }

        .session__tag {
          background-color: #ff2c78;
          color: #ffffff;
          padding: 0.2rem 0.4rem;
          font-size: 0.8rem;
          font-weight: bold;
          max-width: 39px;
          margin-left: 10px;

          &--isense {
            position: absolute;
            top: 0;
            right: 0;
            writing-mode: vertical-rl;
            text-orientation: mixed;
            border-top-right-radius: 8px;
            border-bottom-right-radius: 6px;
            padding: 0.4rem 0.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 72px;
          }
        }
      }
    }
  }

  .day-selector {
    display: grid;
    grid-template-columns: repeat(2, 1fr); // 2 columnas para los días
    gap: 1rem;
    margin-top: 1.5rem;

    .day-button {
      font-size: 1rem;
      color: #ffffff;
      background: transparent;
      border: none;
      cursor: pointer;
      padding-bottom: 5px;
      text-align: center;
      transition: color 0.3s ease;

      &.active {
        color: #ff2c78;
        border-bottom: 2px solid #ff2c78;
      }

      &:hover {
        color: #ff2c78;
      }
    }
  }
}

@media (min-width: 1024px) {
  .cine-detail {
    flex-direction: row;

    &__background {
      height: 100vh;
    }

    &__info {
      position: absolute;
      top: 5vh;
      left: 5vw;
      align-items: flex-start;
      text-align: left;
      padding: 0;

      &-title {
        font-size: 3rem;
      }

      &-description {
        font-size: 1.5rem;
        max-width: 800px;
        min-height: 200px;
        text-align: left;
      }

      &-showtimes {
        grid-template-columns: repeat(7, 1fr);
        justify-content: flex-start;
        gap: 2rem;
      }
    }

    &__logo {
      width: 200px;
      top: 20px;
      right: 40px;
      width: 180px;
    }

    .day-selector {
      justify-content: flex-start;
      display: flex;
    }
  }
}

@media (max-width: 768px) {
  .day-selector {
    grid-template-columns: repeat(2, 1fr); 
  }

  .cine-detail__info-showtimes {
    grid-template-columns: repeat(2, 1fr); 
  }
}
