body {
  font-family: "Poppins", sans-serif;
  color: #fff;
  background-color: #1b1b2f;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  max-width: 100vw;
  max-height: 100vh;
}

.cine-detail {
  display: flex;
  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    
    background-size: cover;
    background-position: center;
    z-index: -1;
    transition: background-image 0.5s ease-in-out;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }

  &__info {
    position: absolute;
    left: 5%;
    text-align: left;
    z-index: 1;
    max-width: 800px;
    padding: 1rem;
    padding-top: 8vh;
    &-title {
      font-size: 3rem;
      font-weight: bold;
      color: #ffffff;
      margin: 0px;
    }

    &-metadata {
      font-size: 1.2rem;
      color: #dcdcdc;
      margin: 0.5rem 0;

      span {
        display: inline-block;

        &:first-child {
          background: #ff2c78;
          padding: 0.2rem 0.5rem;
          border-radius: 0.3rem;
          color: #fff;
          font-weight: bold;
        }
      }
    }

    &-description {
      font-size: 1.3rem;
      color: #ffffff;
      margin-top: 1rem;
      max-width: 70%;
      min-height: 150px;
    }

    &-showtimes {
      display: flex;
      gap: 1rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
    
      .session {
        flex: 0 0 auto; // Evita que las tarjetas se expandan y se ajusten en una sola fila
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0.5rem;
        border: 1px solid #ff2c78;
        border-radius: 8px;
        width: 170px;
        color: #ffffff;
        background: rgba(0, 0, 0, 0.6);
        transition: all 0.3s ease;
        cursor: pointer;
    
        &:hover {
          background: rgba(255, 44, 120, 0.2);
        }
    
        &__time {
          font-size: 1.4rem;
          font-weight: bold;
          margin-bottom: 0.2rem;
        }
    
        &__room {
          font-size: 0.9rem;
          color: #dcdcdc;
        }
    
        &__tag {
          background-color: #ff2c78;
          color: #ffffff;
          padding: 0.2rem 0.4rem;
          font-size: 0.8rem;
          font-weight: bold;
          align-self: flex-start;
    
          &--isense {
            position: absolute;
            right: -1px;
            top: -1px;
            padding: 0.4rem 0.5rem;
            border-top-right-radius: 8px;
            border-bottom-right-radius: 6px;
            writing-mode: vertical-rl;
            text-orientation: mixed;
            height: 70px;
        }
      }
        &__vose {
          background-color: #ff2c78;
          font-size: 0.7rem;
          border-radius: 5%;
          color: #ffffff;
          padding: 0.2rem 0.4rem;
          margin-top: 0.5rem; // Asegura espacio entre etiquetas
        }
      
        &.four-sessions {
          .session:nth-child(4) {
            order: 3;
          }
        }
      }
    }
  }

  &__logo {
    position: static;
    right: 20px;
    width: 150px;
    z-index: 2;
    margin-top: 15px;
    margin-left: 90%;
  }

  .cine-detail__carousel {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; 

    .carousel__track-container {
      overflow: hidden;
      width: 80%;
      position: relative;
    }

    .carousel__track {
      display: flex;
      transition: transform 0.3s ease-in-out;
    }

    .carousel__slide {
      opacity: 0.5;
      transition: opacity 0.3s ease, transform 0.3s ease;
      margin-right: 30px;
      cursor: pointer;

      &.selected {
        opacity: 1;
        transform: scale(1.1);
        /* Agranda la imagen seleccionada */
      }

      img {
        width: 200px;
        height: auto;
        max-height: 300px;
        border-radius: 10px;
        transition: transform 0.3s ease;
      }
    }

    /* Oculta los puntos de navegación si se están generando automáticamente */
    .carousel__track-container::-webkit-scrollbar,
    .carousel__track-container::-webkit-scrollbar-thumb,
    .carousel__track-container::-webkit-scrollbar-track {
      display: none;
    }

    /* Oculta cualquier otro tipo de indicadores */
    .carousel__track-container ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }

    .carousel__prev,
    .carousel__next {
      background: rgba(255, 255, 255, 0.1);
      border: 1px solid rgba(255, 255, 255, 0.6);
      border-radius: 20%;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.5rem;
      color: #ffffff;
      cursor: pointer;
      transition: all 0.3s ease;
      position: relative;
      z-index: 3;

      &:hover {
        background: rgba(255, 255, 255, 0.2);
      }
    }

    .carousel__prev {
      margin-right: 10px;
      transform: translateX(-40px);
    }

    .carousel__next {
      margin-left: auto;
      transform: translateX(-30px);
    }
  }

  .day-selector {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;

    .day-button {
      font-size: 1rem;
      color: #ffffff;
      background: transparent;
      border: none;
      cursor: pointer;
      padding-bottom: 5px;
      transition: color 0.3s ease;

      &.active {
        color: #ff2c78;
        border-bottom: 2px solid #ff2c78;
      }

      &:hover {
        color: #ff2c78;
      }
    }
  }
}
