// _home.scss
body{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: rgb(5, 7, 19);
}

// main
.main {
  background: linear-gradient(180deg, #0a0e27 0%, #000000 100%);
  padding: 0; // Elimina el margen/padding de la sección principal
  color: #ffffff;
  height: auto;

  &__top-movies {
    text-align: center;
    margin-top: 0; // Elimina el margen superior de esta sección
  }

  &__title {
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #ffffff;
    margin: 0;
    padding-top: 20px;
  }
}

.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 1rem;
  background-color: rgb(5, 7, 19);

  &__background {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url('/cine_web_app/front-end/images/banner-cines.jpg'); // Ruta de la imagen
    background-size: cover;
    background-position: center;
    padding: 2rem;
    max-width: 1000px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__content {
    position: relative;
    z-index: 2;
    padding: 2rem;
    border-radius: 8px;
    color: #ffffff;
    max-width: 800px; // Aumenta el ancho máximo del contenido también
    text-align: center;
  }

  &__title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #ffffff;
  }

  &__description {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1.5rem;
    color: #dcdcdc;
  }

  &__button {
    display: inline-block;
    padding: 0.7rem 2.5rem;
    background-color: #ff2c78;
    color: #ffffff;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #d3005a;
    }
  }
}

.offers-section {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(5, 7, 19);
  margin-bottom: 2rem;

  &__title {
      font-size: 2rem;
      font-weight: bold;
      color: #ffffff;
      margin-bottom: 1.5rem;
  }

  &__grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr); // Dos columnas en pantallas grandes
      gap: 2rem;
      max-width: 1200px;
      margin-bottom: 20px;
  }
}

.offer-card {
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
  width: 100%;
  max-width: 500px;

  &:hover {
      transform: scale(1.05);
  }

  &__content {
      flex: 1;
      padding-right: 1rem;
  }

  &__title {
      font-size: 1.3rem;
      font-weight: bold;
      color: #333333;
      margin-bottom: 0.5rem;
  }

  &__description {
      font-size: 1rem;
      color: #555555;
      line-height: 1.4;
  }

  &__image {
      width: 100px;
      height: auto;
      border-radius: 8px;
  }

}

@media (max-width: 768px) {
  .offers-section__grid {
    display: grid;
    grid-template-columns: 1fr; // Una columna en pantallas pequeñas
    max-width: 400px;
  }

  .offer-card {
    padding: 0.5rem;
  }
}

