body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.movie-details {
  position: relative;
  color: #ffffff;

  &__backdrop {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: brightness(70%);
    }
  }

  &__content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-top: -180px;
    padding: 0 2rem;
    z-index: 2;

    .movie-details__info-wrapper {
      text-align: left;

      &--poster {
        flex: 1;

        .movie-title {
          h2 {
            font-size: 2.5rem;
            font-weight: bold;
            margin: 0;
          }
        }
      }
    }

    .movie-details__session-info {
      flex: 1;
      text-align: right;

      .session-info-container {
        .session-details {
          font-size: 1.2rem;

          p {
            margin: 0.5rem 0;

            strong {
              color: #ff2c78;
            }
          }
        }
      }
    }
  }
}

.products-bar {
  padding: 2rem;
  background-color: #0b0d1c;
  color: #ffffff;
  text-align: center;

  &__title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  &__description {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #aaaaaa;
  }

  &__allergies {
    background-color: transparent;
    color: #007bff;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
    padding: 0;

    &:hover {
        text-decoration: none;
        color: #0056b3;
    }
}

  &__categories {
    margin-bottom: 2rem;

    ul {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 1rem;
      padding: 0;
      list-style: none;

      li {
        a {
          display: inline-block;
          padding: 0.5rem 1rem;
          font-size: 1rem;
          color: #ffffff;
          text-decoration: none;
          border: 1px solid transparent;
          border-radius: 5px;
          transition: background-color 0.3s ease, border-color 0.3s ease;

          &:hover {
            background-color: #1e1f2b;
          }

          &.active {
            background-color: #ff2c78;
            border-color: #ff2c78;
          }
        }
      }
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 15%));
    gap: 1.5rem;
    margin-left: 10vw;
    margin-right: 10vw;

    .product-card__button {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: stretch;
      background-color: #1c1e2b;
      border: 2px solid #3a3d4d;
      position: relative;
      overflow: hidden;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      max-width: 315px;

      clip-path: polygon(
        0% 0%,
        100% 0%,
        100% calc(100% - 20px),
        calc(100% - 20px) 100%,
        0% 100%
      );

      &:hover {
        transform: translateY(-5px);
        box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.6);
      }

      .product-card__image-container {
        position: relative;
        height: 150px;
        overflow: hidden;

        .product-card__image {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .product-card__details {
        flex: 1;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .product-card__name {
          font-size: 1rem;
          font-weight: bold;
          color: #ffffff;
          text-align: center;
          margin-bottom: 0.5rem;
        }

        .product-card__price {
          font-size: 1.2rem;
          font-weight: bold;
          color: #ff2c78;
          text-align: center;
          margin-bottom: 0.5rem;
        }

        .product-card__add-button {
          display: inline-block;
          margin-top: 1rem;
          padding: 0.5rem 1rem;
          background-color: #ff2c78;
          color: #ffffff;
          font-size: 0.9rem;
          font-weight: bold;
          text-align: center;
          text-transform: uppercase;
          border-radius: 5px;
          cursor: pointer;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: #df3f79;
          }
        }
      }

      .product-card__description {
        font-size: 0.8rem;
        color: #888888;
        padding: 0.5rem 1rem;
        text-align: center;
        border-top: 1px solid #3a3d4d;
        background-color: #1c1e2b;
      }
    }
  }
}

.continue-btn {
  display: block;
  margin: 2rem auto 0;
  background-color: #ff2c78;
  color: #ffffff;
  padding: 0.75rem 2rem;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #df3f79;
  }
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;

    &.visible {
        opacity: 1;
        visibility: visible;
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
    }

    &__content {
        position: relative;
        background-color: #1c1e2b;
        padding: 2rem;
        border-radius: 10px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
        max-width: 600px;
        width: 90%;
        color: #ffffff;
        text-align: center;

        h2 {
            font-size: 2rem;
            color: #ff2c78;
            margin-bottom: 1rem;
        }

        p {
            margin-bottom: 1rem;
            font-size: 1rem;
            color: #cccccc;

            a {
                color: #007bff;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        ol {
            text-align: left;
            margin: 1rem 0;
            color: #dddddd;
            padding-left: 1.5rem;

            li {
                margin-bottom: 0.8rem;
                font-size: 1rem;

                strong {
                    color: #ffffff;
                }
            }
        }
    }

    &__close-btn {
        position: absolute;
        top: 1rem;
        right: 1rem;
        background: none;
        border: none;
        font-size: 1.5rem;
        color: #ffffff;
        cursor: pointer;
        transition: color 0.3s;

        &:hover {
            color: #ff2c78;
        }
    }
}


.total-display {
  background-color: #0b0d1c;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

  span {
    font-size: 1.2rem;
    font-weight: 600;
  }

  .total-label {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .total-value {
    color: #df3f79;
    font-size: 1.5rem; 
    font-weight: bold;
  }
}

.quantity-display{
  font-size: 18px;
  font-weight: bold;
  color: #df3f79;
}
