// styles.scss

// Layout
@use './layout/header';
@use './layout/footer';
@use './layout/grid';

// Components
@use './components/buttons';
@use './components/forms';
@use './components/Scrollbar';

// Pages
@use './pages/home';
@use './pages/checkout';
@use './pages/movies';
@use './pages/login';
