body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background-color: #0b0d1c;
  }

  h2{
    text-align: center;
    color: #ffffff;
  }

  .allergen-list {
    list-style: none;
    margin: 0;
    padding: 0;

    .allergen-item {
        border-bottom: 1px solid #444;
        position: relative;

        .allergen-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem;
            font-size: 1rem;
            color: #ffffff;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
                background-color: #2c2f3a;
            }

            .allergen-toggle {
                font-size: 1.5rem;
                cursor: pointer;
                color: #ffffff;
                transition: transform 0.3s ease;

                &.rotated {
                    transform: rotate(45deg);
                }
            }
        }

        .allergen-content {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.5s ease-in-out, padding 0.3s ease-in-out;
            padding: 0 1rem;
            background-color: #1c1e2b;

            &.visible {
                max-height: 500px;
                padding: 1rem;
            }

            p {
                margin: 0;
                color: #aaa;

                &:first-child {
                    margin-bottom: 1rem;
                }

                strong {
                    color: #ffffff;
                }
            }

            ul {
                padding-left: 1.5rem;
                list-style-type: disc;
                color: #aaa;

                li {
                    margin-bottom: 0.5rem;
                }
            }
        }
    }
}


