.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #020510;

    &__logo {
        font-size: 1.5rem;
        font-weight: 600;
        font-family: "Poppins", sans-serif;
        background: radial-gradient(circle, #ff2c78, #dca4ff);
        -webkit-background-clip: text;
        color: transparent;
    }

    &__nav {
        flex-grow: 1;
        margin-left: 2rem;
    }

    &__hamburger {
        display: none; // Oculto por defecto en pantallas grandes
        font-size: 1.5rem;
        color: #ffffff;
        cursor: pointer;
        z-index: 1001; // Asegura que esté sobre otros elementos al desplegar
    }

    &__menu {
        list-style: none;
        display: flex;
        gap: 2rem;

        &-item a {
            color: #ffffff;
            text-decoration: none;
            font-weight: 500;
            font-family: "Poppins", sans-serif;
            transition: color 0.3s;

            &:hover {
                color: #ff2c78;
            }
        }
    }

    &__actions {
        display: flex;
        gap: 1.5rem;

        &__link {
            color: #ffffff;
            text-decoration: none;
            font-weight: 600;
            font-family: "Poppins", sans-serif;
            transition: color 0.3s;

            &:hover {
                color: #ff2c78;
            }
        }

        &__icon {
            color: #ffffff;
            font-size: 1.2rem;
            cursor: pointer;
        }

        // Estilos específicos para los enlaces de registro e inicio de sesión
        .header__register,
        .header__login {
            color: #ffffff;
            text-decoration: none;
            font-weight: 600;
            transition: color 0.3s;
            font-family: poppins;
            &:hover {
                color: #ff2c78;
            }
        }
    }
}

// Estilos específicos para pantallas pequeñas

@media (max-width: 768px) {

    .header--desktop {
        display: none;
    }

    .header__hamburger {
        display: block; // Mostrar el ícono de la hamburguesa en móvil
    }

    .header__nav {
        display: none; // Oculta el menú en móvil por defecto
        margin-left: 0;
    }

    .header__nav.overlay {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 80%; // Incrementa el ancho del menú lateral
        background-color: #020510;
        transform: translateX(-100%);
        transition: transform 0.3s ease;
        z-index: 1000;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        padding-top: 2rem;
    }

    .header.is-open .header__nav.overlay {
        transform: translateX(0); // Hace visible el menú al deslizarlo desde la izquierda
    }

    .header__menu {
        flex-direction: column; // Cambia el menú a vertical en móvil
        gap: 1rem;
        padding-top: 2rem;
        list-style: none;

        .header__menu-item {
            margin: 1rem 0;

            a {
                color: #ffffff;
                text-decoration: none;
                font-weight: 500;
                font-family: "Poppins", sans-serif;
                display: block;
                padding: 1rem;
                transition: color 0.3s;

                &:hover {
                    color: #ff2c78;
                }
            }
        }
    }
}

// CSS para bloquear el scroll del fondo cuando el menú está abierto
body.menu-open {
    overflow: hidden;
}

