<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elixium - Top Películas</title>
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>

    <!-- Header -->
    <header class="header">
        <div class="header__logo">Elixium</div>
        <nav class="header__nav">
            <ul class="header__menu">
                <li class="header__menu-item"><a href="#">Cines</a></li>
                <li class="header__menu-item"><a href="#">Películas</a></li>
                <li class="header__menu-item"><a href="#">Promociones</a></li>
            </ul>
        </nav>
        <div class="header__actions">
            <a href="#" class="header__link">Registrarse</a>
            <a href="#" class="header__link">Iniciar sesión</a>
            <a href="#" class="header__icon"><i class="icon-user"></i></a>
            <a href="#" class="header__icon"><i class="icon-search"></i></a>
        </div>
    </header>


    <!-- Main Content -->
    <main class="main">
        <section class="main__top-movies">
            <h2 class="main__title">Top Películas</h2>
            <div class="carousel">
                <!-- Botón izquierdo -->
                <button class="carousel__button carousel__button--left">
                    <span class="carousel__button-content">
                        <img src="/cine-web-app/front-end/images/left-arrow.png" alt="Left Arrow">
                    </span>
                </button>

                <!-- Carrusel de películas -->
                <div class="carousel__track-container">
                    <ul class="carousel__track">
                        <li class="carousel__slide carousel__slide--side">
                            <img src="/cine-web-app/front-end/images/Avatar_El_sentido_del_agua.jpg" alt="Avatar"
                                class="carousel__image">
                            <p class="carousel__title">Avatar</p>
                        </li>
                        <li class="carousel__slide carousel__slide--side">
                            <img src="/cine-web-app/front-end/images/fast_&_furious_x.jpg" alt="Fast & Furious"
                                class="carousel__image">
                            <p class="carousel__title">Fast & Furious</p>
                        </li>
                        <li class="carousel__slide carousel__slide--center">
                            <img src="/cine-web-app/front-end/images/Venom_3.jpg" alt="Venom" class="carousel__image">
                            <p class="carousel__title">Venom</p>
                        </li>
                        <li class="carousel__slide carousel__slide--side">
                            <img src="/cine-web-app/front-end/images/robot_salvaje.jpg" alt="Robot Salvaje"
                                class="carousel__image">
                            <p class="carousel__title">Robot Salvaje</p>
                        </li>
                        <li class="carousel__slide carousel__slide--side">
                            <img src="/cine-web-app/front-end/images/terrifier-3.jpg" alt="Terrifier"
                                class="carousel__image">
                            <p class="carousel__title">Terrifier</p>
                        </li>
                    </ul>
                </div>

                <!-- Botón derecho -->
                <button class="carousel__button carousel__button--right">
                    <span class="carousel__button-content">
                        <img src="/cine-web-app/front-end/images/right-arrow.png" alt="Right Arrow">
                    </span>
                </button>
            </div>
        </section>


    </main>
    <script src="/cine-web-app/front-end/js/CarruselController.js"></script>
</body>

</html>